*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #ffffff;
    padding: 15px;
    align-items: center;
    margin: auto;
    width: 90%;
}
nav{
    display: flex;
    justify-content: space-between;
}

nav li{
    display: flex;
}

.menu_content{
    display: flex;
    margin: auto;
}

.menu_content li {
  font-size: 15px;
  margin: 15px;
}


.menu_content li a {
  text-decoration: none ;
}

.btn2{
    padding: 10px 10px;
    margin: 10px;
    background: #863e3e00;
    color: #fff;
    font-weight: 600;
    border: 1px solid #f0efef;
    border-radius: 5px;
}

.btnnn{
     padding: 8px 12px;
     margin: 10px;
     background: #469165;
     color: #fff;
     font-weight: 600;
     border-radius: 50px;
     border: 1px solid #00000000;
}

.btn{
    padding: 10px 10px;
    margin: 10px;
    background: #69d697;
    color: #fff;
    font-weight: 600;
    border: 1px solid #00000000;
    border-radius: 5px;
}

.btn:hover,.btn2:hover {
 padding: 10px 10px;
    margin: 10px;
    background: #9df7bf;
    color: #000000;
    font-weight: 600;
    border: 1px solid #00000000;
    border-radius: 5px;
}
.Hero{
    background-image: url(images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
   text-align: center;
   display: flex;
}

.hero1{
    width: 30%;
}

.hero2{
    width: 30%;
}

.Banner_section{width: 40%;margin-top: 7%;margin-bottom: 7%;}

.Banner_section h1{

font-size: 50px;

color: #fff;
}

.Banner_section span{
    color: #469165;
}

.Hero p{
    color: #fff;
    margin: 16px;
    font-size: small;
    line-height: 1.5;
}

.card{
    text-align: center;
    margin: 50px;
}


.card p{
     color: #000000;
    margin: 16px;
    font-size: medium;
    line-height: 1.5;
}

.card h1{
 font-size: 50px;

color: #000000;
}

.card_box{

display: flex;
}

.card_content{

border: 1px solid #dbdbdb;

margin: 38px;

padding: 34px 18px;

box-shadow: 4px 4px 3px #afafafa1;

border-radius: 7px;
}

.card_content img {

background: red;

border-radius: 50%;

padding: 1px;

margin: 5px;
}

.card_content h3{

margin-bottom: 8px;
}

.card_content p{

margin-top: 15px;
}

.brain_section{
    display: flex;
    padding: 0px 90px;
    align-items: center;
    justify-content: space-between;
}

.brain_section img{padding: 22px;margin-left: 23px;width: 87vh;}
.brain_content{
    
align-items: center;
    
margin-left: 169px;
    
width: 100%;
}
   
.brain_content h1{
 font-size: 41px;
 color: #000000;
}
   
.brain_content p{

margin-top: 15px;

margin-bottom: 10px;

font-size: 13px;
}
   
.brain_content li{
    list-style: none;
    line-height: 1.5;
    font-weight: 700;
    font-size: 13px;
    }
.brain_content h3{

color: #29804d;

margin-bottom: 10px;
}
   
.More_content{
 text-align: center;
 align-items: center;
 background-color: #efebe1;
 
 padding: 50px;
}

.More_content p{
 color: #000000;
 font-size: medium;
 font-size: 14px;
 margin-top: 10px;
}


footer{
   
  background-color: #29804d;
}

.social_icon{
    font-size: 22px;color: #fff;
}

.footer_logo{
     display: flex;
        justify-content: space-between;
  align-items: center;
   
    padding: 20px 15px;
}

footer p{
    text-align: center;
    padding: 20px;
    color: #fff;
}